<div class="timeline">
  <div class="timeline-event" *ngFor="let event of events; let i = index">
    <div class="timeline-point-track-container">
      <div class="timeline-point"
        [ngClass]="timeLinePoint(event)">
      </div>
      <div class="timeline-track"
        [ngClass]="timeLineTrack(event)">
      </div>
    </div>
    <div class="timeline-content">
      <p>
        {{ event.content }}
      </p>
      <p class="timeline-date">
        {{ event.date }}
      </p>
    </div>
  </div>
</div>
